// COLORS:B&W
$color-lightest       = #FFFFFF
$color-darkest        = #000000

// FONT:SIZE
$font-size-xxxxs  = 0.5rem   // 08px
$font-size-xxxs   = 0.625rem // 10px
$font-size-xxs    = 0.75rem  // 12px
$font-size-xs     = 0.875rem // 14px
$font-size-sm     = 1rem     // 16px
$font-size-md     = 1.125rem // 18px
$font-size-lg     = 1.25rem  // 20px
$font-size-xl     = 1.5rem   // 24px
$font-size-xxl    = 2.25rem  // 36px
$font-size-xxxl   = 3.25rem  // 52px
// FONT:FAMILY
$font-family-primary    = 'Inter', Helvetica, Arial, sans-serif

// LAYERS
$layer-base     = 1
$layer-lowest   = 10
$layer-low      = 20
$layer-middle   = 30
$layer-high     = 40
$layer-highest  = 50
